.featured-article {
  position: relative;
}

.featured-article__tag {
  display: inline-block;
  padding: 10px 8px;
  background: var(--primary-background-color);
  color: var(--light-color);
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  right: 8px;
}

.featured-article__img {
  display: block;
  width: 100%;
  height: auto;
}

.featured-article__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
