.main-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  /* If you don't set align-contents, the grid items will stretch to match the height
  of the heighest item */
  align-content: start;
  grid-gap: 20px;
}
