.older-posts {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}

.older-posts__heading {
  color: var(--light-color);
  position: relative;
}

.older-posts__heading::after {
  content: "Older posts";
  opacity: 0.1;
  text-transform: uppercase;
  font-size: 1.8rem;
  position: absolute;
  top: 15px;
  left: 22px;
}

.older-posts__container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

@media (min-width: 1200px) {
  .older-posts__container {
    grid-template-columns: 1fr 1fr;
  }
}
