.overlay {
  background: #000000bb;
  transition: background 0.25s;
  padding: 20px 12px;
}

.news .overlay {
  padding-left: 0;
}

.featured-article:hover .overlay,
.post:hover .overlay {
  background: var(--primary-background-color);
}

.overlay--bg--opaque {
  background: var(--secondary-background-color);
}

.overlay__para {
  color: var(--light-color-alt);
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 12px;
}

.featured-article:hover .overlay__para,
.post:hover .overlay__para {
  color: var(--light-color);
}

.overlay__separator {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--light-color-alt);
  margin: 0px 16px;
  transform: rotate(45deg);
}

.featured-article:hover .overlay__separator,
.post:hover .overlay__separator {
  background: var(--light-color);
}

.overlay__heading {
  font-size: 1.5rem;
  color: var(--light-color);
  margin: 0;
}

.news:hover .overlay__heading {
  color: var(--light-color-alt);
}

.overlay__heading--size--s {
  font-size: 1rem;
}

.overlay__contents-preview {
  color: var(--light-color-alt);
  padding-top: 20px;
  margin: 0;
}

.post:hover .overlay__contents-preview {
  color: var(--light-color);
}
