.page {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  margin: 0;
  background: var(--primary-background-color);
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.page__inner {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  margin-inline: 16px;
}
