.page {
  margin: 0;
  background-color: var(--primary-background-color);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.page__breaking-news {
  margin: 30px 16px 16px;
}

.page__featured-articles {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 16px;
}

.page__trending-news {
  margin: 20px 16px;
}

.page__older-posts {
  margin: 48px 16px 20px 16px;
}

.page__popular-tags {
  margin: 48px 16px 20px 16px;
}

.page__newsletter {
  margin: 48px 16px 20px 16px;
}
