.trending-news {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 20px;
  background: var(--secondary-background-color);
}

.trending-news__heading {
  color: var(--light-color);
  text-align: center;
  margin: 0;
  padding: 16px;
}

.trending-news__container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
